.gradle/
build/
.idea/
*.iml
*.class
*.jar
!libs/*.jar
!tools/*.jar
!gradle/wrapper/gradle-wrapper.jar
!src/main/resources/META-INF/jars/*.jar
libs/README.md
out/
*.log
__pycache__/
*.pyc
.DS_Store
Thumbs.db
gitlab-*